<% if logged_in? %>
<h1>task一覧</h1>

<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
  <% end %>
</ul>

<%= link_to '新規taskの投稿', new_task_path %>

<% else %>
  <div>
    <div>
      <h1>Please signup</h1>
      <%= link_to 'Sign up now!', signup_path%>
    </div>
  </div>
<% end %>